body{
    background-color: cadetblue;
}
h1{
    margin: 20px;
    text-align: center;
    color: rgb(222, 247, 57);
    font-size: 50px;
    font-weight: 700px;
    text-decoration: underline;
}

.cardContainer{
    background-color: rgb(219, 251, 180);
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin: 15px auto;
    width: 80%;
}

.card-header{
    font-size: 28px;
    text-decoration: underline;
    font-weight: 500;
    font-style: italic;
    color: rgb(72, 173, 1);
}